<h1><i>register works!</i></h1>
<label><b>Enter your Name: </b></label>
<br>
<input type="text" [(ngModel)]="name" placeholder="Enter your Name" />
<br>
<label><b>Enter your Email: </b></label> 
<br>
<input type="text" [(ngModel)]="email" placeholder="Enter your Email" />
<br>
<label><b>Enter your City: </b></label> 
<br>
<input type="text" [(ngModel)]="city" placeholder="Enter your City" />
<br>
<label><b>Enter your Password: </b></label> 
<br>
<input type="password" [(ngModel)]="password" placeholder="Enter your Password" />

<button (click)="btnRegisterUser()">Register</button>


